body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color
{color: chartreuse;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 60%;
    padding-left: 5%;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    background-color: coral;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 30px rgb(255, 81, 0);
    border-radius: 10px;

}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow);
    border-image-slice: 1;
}
footer{
    text-align: center;
}
